<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibeacon</key>
	<dict>
		<key>class</key>
		<string>Beacon</string>
		<key>global</key>
		<true/>
		<key>autostart</key>
		<true/>
	</dict>
</dict>
</plist>
